<div class="chaity-fotter-sub-prime ">
    <div class="row">
      <!-- Contact Info -->
      <span class="fotter-link-left col-xs-12 col-md-12">


            <div class="fotter-link-contact">
              <div class="row">
                <div class="col-xs-4">
                      <img src="/mobile/frontend/img/icons/phone-ico-1.png"/>
                      <span>88-02-8923670</span>
                </div>
                <div class="col-xs-4">
                      <img src="/mobile/frontend/img/icons/mail-ico-1.png"/>
                      <span>info@chaity.com</span>
                </div>
                <div class="col-xs-4">
                    <a href="http://mail.chaity.com" class="webmail">
                      <img src="/mobile/frontend/img/icons/webmail-ico-1.png"/>
                      <span>Webmail</span>
                    </a>
                </div>
              </div>



        </div>
      </span>
      <!-- Contact Info Ends-->
    </div>
</div>

<div class="chaity-fotter-sub">
    <div class="row">
        <div class="col-xs-12 col-md-12">
        <p class="footer-social-iconcontainer">
            <a href="https://www.facebook.com/chaitygroup" class="footer-socail-icons">
              <img src="/mobile/frontend/img/icons/facebook-ico.png" />
            </a>
            <a href="https://plus.google.com/102704732267957623750/posts" class="footer-socail-icons">
              <img src="/mobile/frontend/img/icons/gplus-ico.png" />
            </a>
            <a href="https://twitter.com/chaitygroup" class="footer-socail-icons">
              <img src="/mobile/frontend/img/icons/twitter-ico.png" />
            </a>
        </p>
        </div>
      <span class="fotter-link-left col-xs-12 col-md-6">2014-2015 @ all rights reserved</span>
      <span class="fotter-link-right col-xs-12 col-md-6">Developed By: <a href="http://ztechbd.com/">Ztech Communication</a></span>
    </div>
</div>


